
.button{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    position: relative;
}

.btn {
    display: inline-block;
    width: 150px;
    height: 150px;
    background: #4EE2EC;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    overflow: hidden;
    position: relative;
}

.btn img {
    line-height: 90px;
    font-size: 26px;
    transition: 0.2 linear;
}

.btn:hover img {
    transform: scale(1.2);
    color: #f1f1f1;
}

.btn::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #38ACEC;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.btn:hover::before {
    animation: aaa 0.7s infinite;
    top: -10%;
    left: -10%;
}

@keyframes aaa {
    0% {
        left: -110%;
        top: 90%;
    }

    50% {
        left: 10%;
        top: -30%;
    }

    100% {
        left: -10%;
        top: -10%;
    }
}