.equipment table {
    width: 100%;
    text-align: center;
}
.equipment table tr td  {
    height: 100px;
    width:  100px;
}
.equipment img{
    width: 200px;
    height: 200px ;
    position: relative;
    top: 5px;
}

.design {
    border-left: solid 1px navy;
    border-right: solid 1px navy;
}
.text{
    font-family: tutorial;
    font-size: 40px;
    /* Anson chose */
    color: navy;
}
.bigc{
    position: relative;
    display: inline-block;
    width: 220px;
    height: 220px;
    border-radius: 25%;
    background: #4EE2EC;
    box-shadow: 0 5px 15px -5px #00000070;
    position: relative;
    right: 5px;
}