.subtitle {
    font-size: 50px;
    font-family: inner subtitle ;
}

.content {
    font-size: 40px;
    font-family: inner page;
    padding-left: 10px;
}

img.content {
    height: 250px;
    width:  250px;
}

hr {
    margin: 80px 0px;
    border: solid 2px white;
}

@font-face{
    font-family: inner page ;
    src: url(../Fonts/Champagne\ &\ Limousines\ Italic.ttf);
}

@font-face{
    font-family: inner subtitle ;
    src: url(../Fonts//Legionary.ttf);
}


